# App Config
DATABASE_URL=postgresql://1234@localhost:5432/ghumo
SECRET_KEY=your_secret_key_here

# External APIs
GOOGLE_PLACES_API_KEY=your_google_key
OPENTRIPMAP_API_KEY=5ae2e3f221c38a28845f05b6091aa1c5e61c33c01a70bd528097e74d

# AI Config
OLLAMA_BASE_URL=http://localhost:11434
AI_MODEL_NAME=mistral
AI_SOURCE=ollama  # 'huggingface' or 'ollama'
